.bill-item {
    border-bottom: 1px solid #ccc;
    position: relative;
    display: flex;
    padding: 12px 24px;
}

.highlight-item {
    border-bottom: 1px solid #607D8B;
    background: #f1fffe;
}

.bill-item:last-of-type {
    border: none;
}

.bills {
    background-color: #fff;
    box-shadow: 0 0 4px #bbbbbb45;
    border-radius: 8px;
    margin-bottom: 24px;
}

.bill-item span {
    position: absolute;
    right: 12px;
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.bill-item:hover span {
    opacity: 1;
}

.bill-price {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    font-weight: 600;
    color: #607D8B;
}

.bill-details {
    width: 80%;
}

.bill-details > div {
    font-size: 20px;
    color: #009688;
}

.bill-details > div:last-of-type {
    font-size: 13px;
    margin-top: 2px;
    color: #999;
}

.no-bills {
    padding: 24px;
    font-size: 16px;
    color: #607D8B;
    font-style: italic;
}